footer {
  height: 98px;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer span, h1 {
  margin: 0 20px;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer ul li {
  margin: 0 20px;
}